@import "variables";
@import "reset";
@import "terrain";

#actor {
	position: absolute; top:0; left: 0;
	display: block; width: 1em; height: 1em;
	border-radius: 0.5em;
	-webkit-transform-origin: bottom center;
	background: red;
}
