@import "variables";
@import "reset";
@import "mixins";
@import "terrain";

html {
	background: white;
}

body {
	font-size: 64px;
	margin: auto;
	display: block; width: 15em; height: 8em; overflow: hidden;
}

#extraWrap {
	display: block; width: 15em; height: 8em; overflow: hidden;
	.perspective(700px);
	.transform-style(flat);
	background: skyblue;
	border: 1px solid red;
}

#actor {
	position: absolute; top:0; left: 0;
	display: block; width: 1em; height: 1em;
	border-radius: 0.5em;
	.transform-origin(bottom center);
	background: rgba(0,0,0, 0.5);
}
